<!DOCTYPE html>
<html>
<head>
  <title>Asn1 parser</title>
  <%= stylesheet_link_tag    "asn1_parser/application", media: "all" %>
  <%= javascript_include_tag "asn1_parser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
